@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src:
      url('../fonts/forum-v16-latin-regular.woff2') format('woff2')
      url('../fonts/forum-v16-latin-regular.woff') format('woff');
}